// Fourth Grade
@import "cuarto/esp.css.scss";
@import "cuarto/sci.css.scss";
@import "cuarto/mat.css.scss";
@import "cuarto/eng.css.scss";

// Templates
@import "introduction.css.scss";
@import "templates/lesson_template.css.scss";
@import "templates/images_info_popover.css.scss";
@import "templates/icon_sound_image.css.scss";
@import "templates/table_form.css.scss";
@import "templates/text_input_form.css.scss";
@import "templates/graphic_table.css.scss";
@import "templates/drag_drop.css.scss";
@import "templates/input_canvas.css.scss";
@import "templates/item_selection_form.css.scss";
@import "templates/evidence_activity.css.scss";
@import "templates/animation_content_items.css.scss";
@import "templates/containers_clickable_header.css.scss";
@import "templates/content_tabs.css.scss";
@import "templates/animations_slide.css.scss";
@import "templates/canvas_template.css.scss";
@import "templates/crossword.css.scss";