.plcib-login {
	background: url(asset-path("platform/panda_background.png")) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}