 /*
  *= require jquery.mobile
  *= require animate
  */

// Imports
@import "bourbon";
@import "modules/_mixins.css.scss";
@import "modules/_colors.css.scss";
@import "partials/_themes.css.scss";

* { 
	@include pr-box-sizing(border-box);
}	

body {
	display: none;
	font-family: "Open Sans";
}

.p-main-container {
	padding: 0;
	width: 100%;
	height: 100%;
}

.plcib-page {
	width: 100%;
	height: 100%;

	.plcib-main-container {
		float: none;
		margin: auto;
		overflow: auto;
		margin-top: 15px;
		width: 89.930822%;
		position: relative;
		// border-radius: 6px 6px 0 0;
		// background: rgba(245,245,245,0.75);
	}
	
	&.plcib-new-user {
		background: url(asset-path("platform/real_background.jpg")) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	// Form Field validation
	.field-with-errors {
		label{
			color: #CF0D25;
		}

		div {
			border-color: #CF0D25;
		}
	}

	.course-background {
		color: #FFFFFF !important;
	}

	@include course-color-background(mat, $mat-color);
	@include course-color-background(esp, $esp-color);
	@include course-color-background(eng, $eng-color);

	.pr-bezel-top {
	  	@include pr-box-shadow(inset 0px 2px 0 $shadow-gray-color);
	}
}

.plcib-notify-box {
  	right: 10%;
	bottom: 10%;
	z-index: 100;
	width: 300px;
	display: none;
	height: 180px;
	padding: 18px;
	color: #4f4f4f;
	position: fixed;
	@include pr-opacity(0);
	border: 1px solid #c7c7c7;
	@include border-radius(6px);
	background-color: $gray-color;
	@include transition(all 0.4s ease);
	// @include border-radius(6px 6px 0 0);
	@include pr-box-shadow(5px 5px 70px rgba(0,0,0,0.3));

	&.show {
		display: block;
		@include pr-opacity(100);
	}

	.close-cross {
		top: 2px;
		right: 8px;
		text-shadow: none;
		position: absolute;
		text-decoration: none;
		color: $gray-dark-color;
		@include pr-opacity(30);

		&:hover {
			@include pr-opacity(50);
		}
	}

	.plcib-notify-container {
		height: 100%;
	}

	.notify-error-list {
		margin: 0;
		padding-left: 16px;
		font-size: 12px;
	}

	&.success {
		// color: #43AC6A;
		color: #FFF;
  		border-color: #3a945b;
		background: tint(#43AC6A, 50%);
	}

	&.error {
		// color: #f04124;
		color: #FFF;
  		border-color: #de2d0f;
		background-color: tint(#f04124, 30%);
	}

	&.warning {
		color: #FFFFFF;
  		border-color: #f08a24;
		background-color: tint(#de770f, 50%);
	}

	&.info {
  		border-color: #a0d3e8;
		background-color: tint(#74bfdd, 50%);
	}


	.short-message {
		height: 100%;
		width: 100%;
		display: table;

		.plcib-notify-message {
			font-size: 20px;
			text-align: center;
			display: table-cell;
			vertical-align: middle;
		}
	}
}

@import "signup.css.scss";
@import "profile.css.scss";
@import "login.css.scss";
@import "index.css.scss";
@import "data_list.css.scss";
// @import "login.css.scss";