.plcib-new-user {

	.plcib-signup-container {
		top: 50%;
		left: 50%;
		width: 70%;
		position: fixed;
		margin-left: -35%;
		margin-top: -279px;
	}

	.plcib-form-row {
		border-top: none;
		overflow: visible;
		
		&:first-child {
			@include border-radius(0);
			// border-top: 1px solid #dddddd;
		}

		// .field_with_errors {
		// 	float: left;
		// }

		// .field_with_errors:first-child {
		// 	width: 20%;
		// 	color: #CF0D25;
			
		// 	label {
		// 		margin: .5em 2% 0 0;
		// 	}
		// }

		// .field_with_errors:last-child {
		// 	width: 78%;
		// 	@include pr-box-sizing(border-box);

		// 	div {
		// 		border-color: #CF0D25;
		// 	}
		// }

		&.field-with-errors label{
			color: #CF0D25;
		}

		&.field-with-errors div {
			border-color: #CF0D25;
		}
	}

	.plcib-form-image-row {
		padding: .7em 1em !important;

		div {
			width: 70%;
		}

		.user-image-preview {
			width: 7%;
			float: left;
			height: 61px;
			// display: none;
			margin-right: 1%;
			margin-top: -10px;
		}
	}

	.plcib-navbar-tabs {

		ul {
			overflow: hidden;
			border-bottom-left-radius: 0;
  			border-bottom-right-radius: 0;
		}
	}
}