<!-- SLIDER -->
<div class="pr-slider">
    <% if @course_structure[:pr_type] != 0 %>
        <div class="menu-slider">
            <!-- Go to previous activity -->
            <div ng-click="goPrev()" ng-class="{'disabled': !$root.isBackEnabled}" class="menu-slider-arrow"></div>

            <div appm-slider data-appm-slider class="menu-slider-container">
                <div class="menu-slider-bg"></div>
                <div class="menu-slider-content">
                    <%= render "partials/slider_navbar" %>
                </div>
            </div>

            <!-- Go to next activity -->
            <div ng-click="goNext()" ng-class="{'disabled': !$rootScope.isNextEnabled}" class="menu-slider-arrow inverted"></div>
        </div>
    <% end %>
</div>