.esp .scene .layer.cervantes-img {
  top: auto !important;
  bottom: -20px;
  left: 405px !important;
  width: 312px; }
.esp .scene .layer.don-quijote-img {
  width: 471px;
  left: 677px !important;
  top: auto !important;
  bottom: 170px;
  position: absolute !important; }
.esp .scene .layer.cervantes-table-img {
  width: 388px;
  top: auto !important;
  bottom: -38px;
  left: 568px !important; }
.esp .scene .layer.inkwell-img {
  width: 68px;
  top: auto !important;
  bottom: 132px;
  left: 756px !important; }
.esp .scene .layer.candle-img {
  width: 50px;
  top: auto !important;
  bottom: 136px;
  left: 852px !important; }
