$gray-dark-color: #333333;
$base-gray-color: #3f3f41;
$dark-shadow-gray-color: #C2C3C6;
$gray-color: #F5F5F5;
$middle-gray-color: #ECECEC;
$shadow-gray-color: #E4E4E6;
$blue-green-color: #3bafb6;
$blue-ciber-color: #1e75bb;
$yellow-color: #f8bc41;
$red-color: #e85759;
$mat-color: #CF0D25;
$esp-color: #e54a26;
$soc-color: #dfc432;
$sci-color: #238b3e;
$tic-color: #a4a4a4;
$eng-color: #34277a;