$gray-dark-color: #333333;
$base-gray-color: #3f3f41;
$dark-shadow-gray-color: #C2C3C6;
$gray-color: #F5F5F5;
$middle-gray-color: #ECECEC;
$shadow-gray-color: #E4E4E6;
$blue-green-color: #3bafb6;
$blue-ciber-color: #1e75bb;
$yellow-color: #f8bc41;

$art-color: #f18c6f;
$eng-color: #34277a;
$edf-color: #00a48b;
$esp-color: #e54a26;
$eti-color: #77368b;
$mat-color: #CF0D25;
$red-color: #e85759;
$rel-color: #00a9d7;
$sci-color: #238b3e;
$soc-color: #dfc432;
$tic-color: #006f73;
