// Disables the selection of the element
@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin icon-base-background($bg) {
	background: url(asset-path("#{$img-common-dir}#{$bg}")) no-repeat;
	display: inline-block;
}

@mixin icon($t, $l, $w, $h) {
	background-position: $t $l;
	width: $w;
	height: $h;
}

@mixin border-radius($s) {
  -webkit-border-radius: $s;
  -moz-border-radius: $s;
  border-radius: $s;
}

@mixin border-radius-comp($t, $r, $b, $l) {
  -webkit-border-radius: $t $r $b $l;
  -moz-border-radius: $t $r $b $l;
  border-radius: $t $r $b $l;
}

@mixin pr-box-shadow($shadow1, $shadow2:false, $shadow3:false) {
  $shadows: $shadow1;
  @if $shadow2 { $shadows: $shadow1, $shadow2; }
  @if $shadow3 { $shadows: $shadow1, $shadow2, $shadow3; }
  -webkit-box-shadow: $shadows;
     -moz-box-shadow: $shadows;
          box-shadow: $shadows;
}

@mixin pr-opacity($s) {
  filter: alpha(opacity=#{$s}); // IE 5-7
  opacity: ($s / 100);
}

// Media Queries
@mixin mobile {
  @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin pr-text-form() {
  .item-row {
    float: left;
    min-height: 58px;
    font-size: 12px;
    display: table;
    border-bottom: 1px solid $shadow-gray-color;
  }

  .item-text {
    display: table-cell;
    vertical-align: middle;
    float: none;
    padding: 0 10px;
    background-color: $gray-color;
    border-right: 1px solid $shadow-gray-color;
  }

  .item-input {
    padding: 0;
    display: table-cell;
    float: none;
    vertical-align: middle;
    position: relative;
  }

  input {
    float: left;
    width: 100%;
    padding: 6px;
    min-height: 58px;
    text-align: center;
    border: none;
    background-color: transparent;
    color: #FFF;
  }

  input:focus {
    outline: none !important;
  }

  .item-row:first-child {
    .item-text {
      border-top-left-radius: 4px;
      @include pr-box-shadow(inset 0 2px 0 $shadow-gray-color);
    }

    .item-input input {
      border-top-right-radius: 4px;
    }
  }

  .item-row:last-child {
    border: none;

    .item-text {
      border-bottom-left-radius: 4px;
    }

    .item-input input {
      border-bottom-right-radius: 4px;
    }
  }

  .pr-icon-validation {
    position: absolute;
    z-index: 10;
    top: 5px;
    right: -42px;
  }
}