.animations-slide {
	.anslide-animations-slide {
		margin-top: 14px;
	}
	
	.anslide-item {
		.pr-content-header:active {
			background-color: $dark-shadow-gray-color !important;
		}
	}

	.anslide-animation {
		img, canvas {
			width: 100% !important;
			max-height: 320px;
		}
	}

	.anslide-block {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
}