.animations-slide {
	.anslide-animations-slide {
		margin-top: 14px;
	}
	
	.anslide-item {
		.pr-content-header:active {
			background-color: $dark-shadow-gray-color !important;
		}
	}

	.anslide-animation {
		margin: auto;

		img, canvas {
			width: 100% !important;
			max-height: 320px;
		}
	}

	.anslide-block {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 1;

		&.body-event-animation {
			cursor: pointer;
		}
	}

	.gifplayer-wrapper {
		margin: auto;
	}

	.play-gif {
		display: none !important;
	}
}