.containers-clickable-header {
	.cch-instruction-container {
		float: none;
	}

	.cch-containers-row {
		margin-top: 14px;

		.visible {
			@include animation(bounceIn 1s ease-in);
		}

		.cch-containers-main {
			// display: table;
			// vertical-align: middle;
		}

		// .cch-containers-image-container {
		// 	width: 100%;
		// 	height: 100%;
		// 	display: table;

		// 	> div {
		// 		width: auto;
		// 		display: table-cell;
		// 		vertical-align: middle;
		// 		margin-left: auto;
		// 		margin-right: auto;
		// 		text-align: center;
		// 	}
		// }

		.cch-containers-image {
			display: inline-block;
		}

		.cch-containers-list {
			float: left;
			width: 100%;
			font-weight: 100;	
		}

		.cch-block {
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 1;
		}

		.cch-order-list {
			width: 100%;
			float: left;
		}

		.cch-order-list-row {
			margin-bottom: 5px;
		}

		.cch-order-list-key span {
			width: 20px;
			height: 20px;
			margin: auto;
			display: block;
			font-weight: bold;
			text-align: center;
			background-color: #FFF;
			@include border-radius(50%);
		}

		.cch-order-list-value {
			font-weight: 100;
		}

		.cch-phaser-animation {
			@include pr-opacity(0);
		}

		.cch-form-list {
			float: left;
			margin-top: 5px;
		}

		.cch-form-list-row {
			padding-top: 2px;
			padding-bottom: 2px;
			border-top: 1px solid $dark-shadow-gray-color;
		}

		.cch-form-list-key {
			padding-left: 8px;
			text-align: center;
		}

		.cch-form-list-text {
			padding-left: 0;
			font-weight: 600;
		}

		.cch-form-list-input {
			padding-left: 0;
			padding-right: 8px;
		}

		.cch-form-list-input input {
			width: 100%;
			// border: none;
			// background: none;

			// &:focus {
			// 	outline: none;
			// }
		}
	}

	.full-height {
		height: 100%;
  		margin: 0;

  		.ccar-inner-container {
  			height: 100%;
  		}
	}
}