.crossword {
	.crw-activity {
		margin: auto;
  		margin-top: 8px;
		border-spacing: 1px;
  		border-collapse: separate;
	}

	.crw-activity-cell {
		width: 25px;
		height: 24px;
		font-weight: bold;
		margin-right: 2px;
		@include border-radius(2px);
		@include transition(all 0.2s ease-in);

		&.input-cell {
			background: $gray-color;
		}

		&.num-cell {
			color: #FFF;
			font-size: 16px;
			text-align: center;
		}
	}

	.crw-activity-input, .crw-activity-num-btn {
		width: 100%;
	}

	.crw-activity-input {
		background: none;
		border: none;
		text-align: center;
		text-transform: uppercase;

		&:focus {
			outline: none;
		}
	}

	.crw-activity-num-btn {
		cursor: pointer;
		display: block;
	}

	.crw-verify-button {
		float: none;
		border: none;
		margin: auto;
		display: block;
		font-size: 20px;
  		margin-top: 12px;
		position: relative;
  		padding: 4px 48px 4px 14px;
		@include border-radius(3px);
		background: $gray-color;
		@include transition(background-color 0.2s ease);

		&:hover {
			background: $shadow-gray-color;
		}

		&:active {
			@include pr-box-shadow(inset 0px 3px 0 $dark-shadow-gray-color);
		}

		span {
			top: -14px;
  			right: -26px;
			position: absolute;
		}
	}
}