.graphic-table {

	.content-row {
		margin-top: 10px;
	}

	.main-content-row {
		height: 70%;
		position: relative;
		margin-top: 16px;
		width: auto;
		float: none;

		& > div {
		}

		th {
			vertical-align: middle;
			line-height: 1.3;
		}

		td > span {
			color: $mat-color;
		}

		tr > td:first-child > span {
			color: $gray-dark-color;
		}

		.top-table-note {
			width: 100%;
			font-size: 12px;
			text-align: center;
			background-color: $gray-color;
			padding: 8px 2px 2px 2px;
			@include pr-box-shadow(inset 0 3px 0 $shadow-gray-color);
			@include border-radius(4px 4px 0 0);
		}
	}

	.graphic-container > div {
		float: left;
	}

	.second-template {
		margin-top: 10px;

		.content-row {
			margin-top: 0;
		}

		tr > td:first-child > span {
			color: $gray-dark-color;
		}
	}

	canvas {
		width: 100% !important;
	}
}

@include mobile {
	.graphic-table {
		.table-content-container {
			width: 100% !important;
			margin-top: 0 !important;
		}
	}
}

@media screen and (max-height: 720px) {
	.graphic-table {
		.pr-table-form {
			td.lateral-text {
				height: 26px !important;
			}
		}
	}
}