.icon-sound-image {

	.pr-icon-sound-row {
		width: 100%;
		position: absolute;
		margin: 0;
		bottom: 100px;
	}

	.pr-icon-sound-item {
	    display: inline-block;
		position: relative;
		cursor: pointer;
		@include pr-opacity(0);	
	}
}