.item-selection-form {
  .form-container {
    
    & > div {
      background-color: $gray-color;
      padding-top: 10px;
      @include pr-box-shadow(inset 0 3px 0 $dark-shadow-gray-color);
    }

    .form-label {

      label {
        font-weight: 100;
        font-size: 12px;
      }
    }

    .form-item-container {
      height: 34px;
      display: table;

      & > div {
        display: table-cell;
        vertical-align: middle;
        float: none;
      }
    }

    .form-input {

    }
  }
}