.pr-lesson-title-bar {
	padding-left: 30px;
	height: 91px;

	& > * {
		display: block;
		position: absolute;
	}

	.pr-icon-circle-audio {
		z-index: 9;
		@include border-radius(50%);
		@include pr-box-shadow(inset 0 2px 0 #ECECEC, 1px 0 1px rgba(236, 236, 236, 0.15));
	}

	.pr-lesson-title-bar-label,
	.pr-lesson-title-bar-thin {
		@include pr-box-shadow(inset 0px 2px 0 #e4e4e6);
		background-color: $gray-color;
	}


	.pr-lesson-title-bar-label {
		width: 50%;
		padding: 1px 0 1px 20px;
		top: 30px;
		left: 117px;
		z-index: 2;

		& > h3 {
			display: inline-block;
			margin: 0;
		}

		& > span {
			font-weight: 100;
			font-size: 22px;
		}
	}

	.pr-lesson-title-bar-thin {
		min-height: 10px;
		width: 42%;
		top: 53px;
		right: 20px;
		z-index: 1;
	}
}

.pr-lesson-footer {
	background: url(asset-path("#{$img-common-dir}noise_pattern.png"));
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}