.table-form {

	.pr-table-form-content,
	.pr-table-form-instruction {
		padding: 0;
	}

	.pr-table-form-content {
		margin-bottom: 20px;
	}
}

.pr-table-form {
	margin: 0;
	background-color: $gray-color;
	
	th {
		text-align: center;
		color: #FFF;
		padding: 10px;
		border-right: 1px dotted #FFF;
		border-bottom: none !important;
	}

	th:first-child {
		border-top-left-radius: 4px;
	}

	th:last-child {
		border-top-right-radius: 4px;
		border: none;
	}

	.second-title {
		padding-bottom: 2px !important;
		padding-left: 12px;
		position: relative;
		text-align: left;
	}

	.second-title:before {
		content: '';
		position: absolute;
		display: block;
		width: 106%;
		top: 19px;
		left: -2px;
		border-bottom: 1px solid #FFF;
		@include transform(rotate(23deg));
	}

	.second-title > span {
		position: absolute;
		top: 7px;
		right: 10px;
	}

	> tbody > tr > td {
		height: 45px;
		padding: 0;
		vertical-align: middle !important;
		border-top: none;
		position: relative;
		border-bottom: 1px solid $shadow-gray-color;
		border-right: 1px solid $shadow-gray-color;
	}

	tr > td:first-child {
		background-color: shade($gray-color, 10%);
	}

	td:last-child {
		border-right: none;
	}

	tbody tr:last-child td {
		border-bottom: none;
	}

	td.lateral-text {
		padding: 8px;
		text-align: center;
		font-weight: bold;
	}

	input {
		display: inline-block;
		float: left;
		width: 100%;
		height: 100%;
		background: transparent;
		border: none;
		padding: 2px 8px;
		text-align: center;
	}

	.pr-icon-validation {
		position: absolute;
		z-index: 10;
		top: 5px;
		right: 5px;
	}
}