.content-containers-main {
	.content-containers-image-container {
		width: 100%;
		height: 100%;
		display: table;

		> div {
			width: auto;
			display: table-cell;
			vertical-align: middle;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
		}
	}

	.content-containers-image {
		display: inline-block;
	}

	.content-containers-list {
		float: left;
		width: 100%;
		font-weight: 100;	
	}
}