.ccar-container {
	cursor: default;

	.ccar-inner-container {
		height: 397px;
	}

	.ccar-item {
		height: 100%;
	}

	.ccar-control {
		position: absolute;
		width: 60px;
		height: 60px;
		border-radius: 50% !important;
		padding: 9px;

		&.right {
			padding-left: 18px;
			right: -68px;
		}

		&.left {
			padding-right: 18px;
			left: -68px;
		}
	}
}