.pr-content-container {
	float: left;

	&.small-title {

		&:before {
			content: none;
		}

		.pr-content-instruction-row:before {
			z-index: -1;
			position: absolute;
			content: "";
			bottom: 15px;
			left: 12px;
			width: 40%;
			top: 60%;
			max-width: 300px;
			/* background: rgba(0, 0, 0, 0.1); */
			@include pr-box-shadow(0 15px 18px rgba(0, 0, 0, 0.1));
			@include transform(rotate(-5deg));
		}
	}

	.pr-content-header, .pr-content-main, .pr-content-instruction {
		min-width: 1px;
		float: left;
	}

	.pr-content-header {
		// padding: 0;
		text-transform: capitalize;
		@include pr-box-shadow(none);
		border: none;
		// @include border-radius(0);

		// &.active .md-ripple-container {
		// 	background: rgba(0, 0, 0, 0.980382);
		// }

		&.gray-header {
			position: relative;
			@include border-radius(2px);
			background-color: $gray-color !important;
			@include pr-box-shadow(inset 0px 2px 0 $shadow-gray-color);

			&:before {
				content: "";
				left: 12px;
				display: block;
				width: 95%;
				height: 1px;
				background-color: $shadow-gray-color;
				position: absolute;
				bottom: 0;
				@include pr-opacity(70);
			}

			.pr-content-title {
				color: $gray-dark-color !important;
			}

			.pr-content-icon {
				border-right: none;
			}
		}

		&.gray-header:active {
			background-color: shade($gray-color, 20%) !important;
		}
        

	}

	.pr-content-icon, .pr-content-title {
		display: table-cell;
		vertical-align: middle;
	}

	.pr-content-icon {
		width: 80px;
		height: 56px;
		text-align: center;
		line-height: 10px;
		border-right: 1px dotted #FFF;
	}

	.pr-content-title {
		padding-left: 10px;
		font-size: 30px;
		color: #FFF;
	}

	.pr-content-main {
		background-color: $gray-color;
		padding: 15px;

		// .pr-content-main-text {
		// 	margin-bottom: 20px;
		// }

		&.content-no-header {
			@include border-radius(6px 0 0 6px);
			@include pr-box-shadow(inset 0px 2px 0 $shadow-gray-color);
		}
	}

	.pr-content-instruction-row {
		height: 100%;
		display: table;
		width: 100%;
		padding: 0 10px;
		font-weight: bold;
		color: #FFF;
		position: relative;

		.pr-content-instruction-icon, .pr-content-instruction-text {
			display: table-cell;
			vertical-align: middle;
		}

		.pr-content-instruction-icon {
			max-width: 110px;
			width: 110px;
			text-align: center;
			padding-top: 4px;
		}
	}

	.pr-list-items {
		margin-top: 30px;
		margin-bottom: 40px;
	}

	.pr-list-item {
		position: relative;
		padding-left: 30px;

		&:before {
			content: "»";
			position: absolute;
			font-weight: 600;
			font-size: 27px;
			left: 0;
			line-height: 10px;
		}
	}

	&.vertical-center-instruction {

		&:after {
			bottom: 32px;
		}
	}

	&.transparent-background {
		&:before, &:after {
			content: none !important;
		}

		.pr-content-header:active {
			background-color: shade($gray-color, 40%) !important;
		}

		.pr-content-main {
			@include pr-box-shadow(none);
		}
	}

	.pr-content-list {
		float: left;
		width: 100%;
		font-weight: 100;
	}
}

.pr-social-network-container {
	float: left;

	.pr-social-network-input {
		width: 100%;
		border: none;
		box-shadow: inset 0px 2px 0px $shadow-gray-color;
		margin-bottom: 20px;
		padding: 10px;
		resize: none;

		&:focus {
			outline: none;
		}
	}

	.pr-social-nework-icons {
		text-align: right;

		a {
			width: 34px;
			height: 34px;


			display: inline-block;
			margin-left: 8px;
		}
	}
}

@include mobile {
	.pr-content-container {
		width: 100% !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}