.modal-animation {
	@include perspective(1300px);

	& > div {
		@include transform-style(preserve-3d);
		@include transform(rotateX(-60deg));
		@include transform-origin(50% 0);
		@include pr-opacity(0);
		@include transition(all 0.3s);
	}

	&.active > div {
		@include transform(rotateX(0deg));
		@include pr-opacity(100);
	}
}

.pr-congrats-container {
	width: 69.177555%;
	position: fixed;
	top: 52px;
	left: 50%;
	margin-left: -34.588777%;
	height: 540px;
	z-index: 100;

	.pr-congrats-row {
		height: 100%;
	}

	.pr-congrats-header {
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: #FFF;
		@include border-radius(6px 6px 0 0);

		.congrats-close {
			box-shadow: none;
			border: none;
			outline: none;
			border-radius: 50%;
			background-color: $gray-color;
			width: 39px;
			height: 39px;
			color: #000;
			font-size: 37px;
			line-height: 10px;
			@include pr-box-shadow(inset 0 1px 0 $middle-gray-color);			

			&:hover {
				@include animation(rubberBand 1.5s forwards);

				&::after {
					background-color: #000;
				}
			}
		}

		.congrats-close > svg {
			width: 25px;
		}
	}

	.pr-congrats-content {
		height: 89.074074%;
		position: relative;

		// * {
		// 	@include transition(all 1s linear);
		// }

		.congrats-table {
			position: absolute;
			bottom: 0;
			left: 0;
			@include pr-opacity(0);
		}

		.pr-congrats-character {
			position: absolute;
			right: 10px;
			bottom: 0;
			z-index: 10;
		}
	}

	.pr-congrats-items {
		@include icon-base-background("estructuras_mensajes.png");
		position: absolute;
	}

	.white-circle {
		@include icon(-121px, -67px, 91px, 91px);
		left: 260px;
		top: 100px;
		z-index: 10;
		padding: 12px;
		@include pr-opacity(0);

		span {
			font-size: 50px;
			font-weight: bold;
			font-style: italic;
		}
	}

	.notebook {
		@include icon(-231px, -70px, 63px, 73px);
		left: 273px;
		top: 109px;
		z-index: 10;
		@include pr-opacity(0);
	}

	.nut {
		@include icon(-323px, -50px, 134px, 133px);
		top: 79px;
		left: 238px;
		z-index: 10;
	}

	.nut-aura {
		@include icon(-630px, -40px, 148px, 164px);
		top: 60px;
		left: 231px;
	}

	.title-bar {
		@include icon(-43px, -224px, 265px, 75px);
		top: 15px;
		left: 40px;
		color: #FFF;
		z-index: 10;
		line-height: 1.2;
		padding: 2px 10px 2px 12px;

		.title-type {
			width: 100%;
			float: left;
			font-size: 28px;
			text-align: center;
		}

		.title-name {
			float: left;
			width: 100%;
			font-size: 28px;
			text-align: center;
		}
	}

	.lines-left {
		@include icon(-135px, -306px, 136px, 40px);
		@include transition(all 0.4s linear);

		&.lines1 {
			top: 83px;
			left: 169px;
			clip: rect(40px, auto, auto, auto);
		}

		&.lines2 {
			top: 168px;
			left: 310px;
			clip: rect(auto, auto, 0, auto);
		}
	}

	.lines-left-large {
		@include icon(-295px, -307px, 209px, 40px);
		top: 259px;
		left: 315px;
	}

	.lines-right {
		@include icon(-540px, -309px, 135px, 40px);
	}

	.background-bar {
		@include icon(-43px, -367px, 276px, 48px);
		left: 169px;
		top: 123px;
		z-index: 2;
		clip: rect(auto, 138px, auto, 138px);
		@include transition(all 0.4s linear);
	}

	.button-bar {
		@include icon(-144px, -423px, 174px, 50px);
		top: 294px;
		left: 314px;
		z-index: 10;
		outline: none;
		padding-right: 36px;

		&:active {
			outline: none;
		}

		&:hover {
			text-decoration: none;
		}

		span {
			color: #FFF;
			font-size: 28px;
			line-height: 1.1;
		}

		.pr-icon {
			position: absolute;
			right: -44px;
			top: -11px;
		}
	}

	.congrats-bar {
		@include icon(-345px, -479px, 215px, 71px);
		top: 200px;
		left: 310px;
		z-index: 10;
		padding: 12px 4px;
		text-align: center;

		span {
			font-size: 37px;
		}
	}

	.little-star {
		@include icon(-49px, -566px, 90px, 56px);
		top: 123px;
		left: 444px;
	}

	.middle-star {
		@include icon(-166px, -493px, 160px, 65px);
		top: 155px;
		left: 88px;
	}

	.big-star {
		@include icon(-714px, -496px, 155px, 127px);
		left: 352px;
	}
}