// Shadow effects
.shadow-effect-1 {
  position: relative;

 	&:before, &:after {
 		z-index: -1;
		position: absolute;
		content: "";
		bottom: 15px;
		left: 12px;
		width: 40%;
		top: 60%;
		max-width: 300px;
		min-height: 10px;
		/* background: rgba(0, 0, 0, 0.1); */
		@include pr-box-shadow(0 15px 10px rgba(0, 0, 0, 0.1));
		@include transform(rotate(-5deg));
 	}

	&:after {
		@include transform(rotate(5deg));
		right: 12px;
		left: auto;
	}
}