// Shado effects
.shadow-effect-1 {
  position: relative;

 	&:before, &:after {
 		z-index: -1;
		position: absolute;
		content: "";
		bottom: 13px;
		left: 12px;
		width: 40%;
		top: 80%;
		max-width: 300px;
		background: rgba(0,0,0,0.2);
		box-shadow: 0 15px 6px rgba(0,0,0,0.2);
		@include transform(rotate(-5deg));
 	}

	&:after {
		@include transform(rotate(5deg));
		right: 12px;
		left: auto;
	}
}