.pr-icon {
    @include icon-base-background("iconos_PR.png");
}



// Navigation and instruction icons


.pr-icon-circle-audio {
    @include icon(-658px, -31px, 91px, 91px);
    cursor: pointer;

    &.no-shadow {
        @include icon(-658px, -336px, 91px, 91px)
    }
}

.pr-icon-tiny-circle-audio {
    @include icon(-777px, -79px, 51px, 51px);
}

.pr-icon-circle-help {
    @include icon(-663px, -148px, 91px, 91px);
}

.pr-icon-tiny-circle-help {
    @include icon(-778px, -188px, 51px, 51px);
}

.pr-icon-circle-arrow {
    @include icon(-452px, -148px, 91px, 91px);

    &.half {
        @include icon(-459px, -251px, 76px, 76px);
    }
}

.pr-icon-tiny-circle-arrow {
    @include icon(-570px, -188px, 51px, 51px);
}

.pr-icon-circle-mouse {
    @include icon(-868px, -31px, 91px, 91px);

    &.half {
        @include icon(-767px, -251px, 76px, 76px);
    }
}

.pr-icon-tiny-circle-mouse {
    @include icon(-985px, -79px, 51px, 51px);
}

.pr-icon-circle-pencil {
    @include icon(-30px, -148px, 91px, 91px);

    &.half {
        @include icon(-142px, -251px, 76px, 76px);
    }
}

.pr-icon-tiny-circle-pencil {
    @include icon(-154px, -188px, 51px, 51px);
}

.pr-icon-circle-pen {
    @include icon(-241px, -148px, 91px, 91px);
}

.pr-icon-tiny-circle-pen {
    @include icon(-362px, -188px, 51px, 51px);
}

.pr-icon-circle-video-record {
    @include icon(-448px, -31px, 91px, 91px);
}

.pr-icon-tiny-circle-video-record {
    @include icon(-569px, -79px, 51px, 51px);
}

.pr-icon-circle-lock {
    @include icon(-28px, -31px, 91px, 91px);
}

.pr-icon-tiny-circle-lock {
    @include icon(-154px, -79px, 51px, 51px);

    &.no-circle {
        @include icon(-165px, -33px, 29px, 35px);
    }

    &.tinier {
        @include icon(-205px, -13px, 36px, 36px);
    }

    &.tinier-white {
        @include icon(-116px, -13px, 36px, 36px);
    }
}

.pr-icon-circle-clock {
    @include icon(-1507px, -145px, 91px, 91px);
}

.pr-icon-tiny-circle-clock {
    @include icon(-1610px, -188px, 51px, 51px);
}

.pr-icon-circle-pdf {
    @include icon(-1078px, -37px, 91px, 91px);
}

.pr-icon-tiny-circle-pdf {
    @include icon(-1193px, -79px, 51px, 51px);
}

.pr-icon-circle-word {
    @include icon(-1498px, -37px, 91px, 91px);
}

.pr-icon-tiny-circle-word {
    @include icon(-1610px, -79px, 51px, 51px);
}
.pr-icon-circle-ppt {
    @include icon(-1288px, -37px, 91px, 91px);
}

.pr-icon-tiny-circle-ppt {
    @include icon(-1402px, -79px, 51px, 51px);
}

.pr-icon-circle-excel {
    @include icon(-1085px, -145px, 91px, 91px);
}

.pr-icon-tiny-circle-excel {
    @include icon(-1194px, -188px, 51px, 51px);
}

.pr-icon-circle-location {
    @include icon(-874px, -148px, 91px, 91px);
}

.pr-icon-tiny-circle-location {
    @include icon(-986px, -188px, 51px, 51px);
}

.pr-icon-circle-gallery {
    @include icon(-7px, -1180px, 91px, 91px);
}

.pr-icon-tiny-circle-gallery {
    @include icon(-27px, -1291px, 51px, 51px);
}

.pr-icon-circle-audios {
    @include icon(-116px, -1180px, 91px, 91px);
}

.pr-icon-tiny-circle-audios {
    @include icon(-134px, -1292px, 51px, 51px);
}

.pr-icon-circle-social-network {
    @include icon(-225px, -1180px, 91px, 91px);
}

.pr-icon-tiny-circle-social-network {
    @include icon(-240px, -1292px, 51px, 51px);
}

.pr-icon-circle-pointer {
    @include icon(-552px, -1180px, 91px, 91px);
}

.pr-icon-tiny-circle-pointer {
    @include icon(-490px, -1291px, 51px, 51px);
}

.pr-icon-circle-competence {
    @include icon(-1543px, -1225px, 91px, 91px);
}

.pr-icon-tiny-circle-competence {
    @include icon(-1564px, -1082px, 51px, 51px);
}

.pr-icon-circle-trophy {
    @include icon(-1430px, -1225px, 91px, 91px);
}

.pr-icon-tiny-circle-trophy {
    @include icon(-1451px, -1082px, 51px, 51px);
}

.pr-icon-tiny-up-arrow {
    @include icon(-757px, -1265px, 36px, 36px);
}


// Conventions


.pr-icon-circle-info {
    @include icon(-808px, -762px, 91px, 91px);
}

.pr-icon-tiny-circle-info {
    @include icon(-655px, -680px, 51px, 51px);
}


.pr-icon-circle-content {
    @include icon(-933px, -762px, 91px, 91px);
}

.pr-icon-tiny-circle-content {
    @include icon(-810px, -680px, 51px, 51px);
}

.pr-icon-circle-social-network-module {
    @include icon(-1058px, -762px, 91px, 91px);
}

.pr-icon-tiny-circle-social-network-module{
    @include icon(-964px, -680px, 51px, 51px);
}

.pr-icon-circle-sound {
    @include icon(-1184px, -762px, 91px, 91px);
}

.pr-icon-tiny-circle-sound{
    @include icon(-1117px, -680px, 51px, 51px);
}

.pr-icon-circle-video {
    @include icon(-1309px, -762px, 91px, 91px);
}

.pr-icon-tiny-circle-video{
    @include icon(-1271px, -680px, 51px, 51px);
}

.pr-icon-circle-important {
    @include icon(-808px, -961px, 91px, 91px);
}

.pr-icon-tiny-circle-important{
    @include icon(-655px, -879px, 51px, 51px);
}

.pr-icon-circle-image {
    @include icon(-933px, -961px, 91px, 91px);
}

.pr-icon-tiny-circle-image{
    @include icon(-810px, -879px, 51px, 51px);
}

.pr-icon-circle-upload {
    @include icon(-1058px, -961px, 91px, 91px);
}

.pr-icon-tiny-circle-upload{
    @include icon(-964px, -879px, 51px, 51px);
}

.pr-icon-circle-download {
    @include icon(-1184px, -961px, 91px, 91px);
}

.pr-icon-tiny-circle-download{
    @include icon(-1117px, -879px, 51px, 51px);
}

.pr-icon-circle-item {
    @include icon(-1309px, -961px, 91px, 91px);
}

.pr-icon-tiny-circle-item{
    @include icon(-1271px, -879px, 51px, 51px);
}

.pr-icon-circle-more {
    @include icon(-808px, -1151px, 91px, 91px);
}

.pr-icon-tiny-circle-more{
    @include icon(-655px, -1071px, 51px, 51px);
}

.pr-icon-circle-less {
    @include icon(-933px, -1151px, 91px, 91px);
}

.pr-icon-tiny-circle-less{
    @include icon(-810px, -1071px, 51px, 51px);
}

.pr-icon-circle-graphic {
    @include icon(-1058px, -1151px, 91px, 91px);
}

.pr-icon-tiny-circle-graphic{
    @include icon(-964px, -1071px, 51px, 51px);
}

.pr-icon-circle-right {
    @include icon(-1184px, -1151px, 91px, 91px);
}

.pr-icon-tiny-circle-right{
    @include icon(-1117px, -1071px, 51px, 51px);
}

.pr-icon-circle-wrong {
    @include icon(-1309px, -1151px, 91px, 91px);
}

.pr-icon-tiny-circle-wrong{
    @include icon(-1271px, -1071px, 51px, 51px);
}

.pr-icon-circle-link {
    @include icon(-808px, -1325px, 91px, 91px);
}

.pr-icon-tiny-circle-link{
    @include icon(-810px, -1257px, 51px, 51px);
}

.pr-icon-circle-close {
    @include icon(-443px, -1180px, 91px, 91px);
}

.pr-icon-tiny-circle-close{
    @include icon(-417px, -1292px, 51px, 51px);
}

.pr-icon-circle-wait {
    @include icon(-1060px, -1325px, 91px, 91px);
}

.pr-icon-tiny-circle-wait{
    @include icon(-964px, -1257px, 51px, 51px);
}

.pr-icon-circle-next {
    @include icon(-1184px, -1325px, 91px, 91px);
}

.pr-icon-tiny-circle-next{
    @include icon(-1117px, -1257px, 51px, 51px);
}

.pr-icon-circle-back {
    @include icon(-1309px, -1325px, 91px, 91px);
}

.pr-icon-tiny-circle-back{
    @include icon(-1271px, -1257px, 51px, 51px);
}

.pr-icon-circle-zoom-in {
    @include icon(-663px, -1153px, 36px, 36px);
}

.pr-icon-circle-zoom-out {
    @include icon(-705px, -1153px, 36px, 36px);
}

.pr-icon-circle-top {
    @include icon(-747px, -1153px, 36px, 36px);
}


// Bottom left circular menu

.pr-icon-circle-audios {
    @include icon(-116px, -1180px, 91px, 91px);
}

.pr-icon-tiny-circle-audios {
    @include icon(-134px, -1292px, 51px, 51px);
}

.pr-icon-circle-close {
    @include icon(-443px, -1180px, 91px, 91px);
}

.pr-icon-tiny-circle-close {
    @include icon(-417px, -1292px, 51px, 51px);
}

.pr-icon-tiny-video {
    @include icon(-32px, -1359px, 41px, 40px);
}

.pr-icon-tiny-audio {
    @include icon(-139px, -1359px, 40px, 40px);
}

.pr-icon-tiny-chat {
    @include icon(-244px, -1360px, 41px, 40px);
}

.pr-icon-tiny-pdf {
    @include icon(-355px, -1359px, 34px, 40px);
}

.pr-icon-close {
    @include icon(-430px, -1366px, 26px, 27px);
}

.pr-icon-click-here {
    @include icon(-1759px, -260px, 121px, 37px);

    &.right {
        @include icon(-1744px, -181px, 158px, 72px);
    }

    &.small {
        @include icon(-1671px, -151px, 85px, 40px);
    }
}





// Credits and other functional icons

.pr-icon-tiny-version {
    @include icon(-1719px, -1387px, 18px, 23px);
}

.pr-icon-tiny-calendar {
    @include icon(-1716px, -1353px, 23px, 24px);
}

.pr-icon-tiny-user {
    @include icon(-1716px, -1320px, 23px, 24px);
}

.pr-icon-pointer, .pr-icon-pointer:hover {
    @include icon(-493px, -1353px, 46px, 63px);
}

.pr-icon-tiny-book {
    @include icon(-1676px, -1285px, 24px, 23px);
}

.pr-icon-tiny-pencil {
    @include icon(-1676px, -1314px, 24px, 22px);
}

.pr-icon-tiny-balloon {
    @include icon(-1676px, -1342px, 24px, 23px);
}

.pr-icon-tiny-people {
    @include icon(-1675px, -1372px, 26px, 19px);

    &.white {
        @include icon(-1677px, -1250px, 22px, 25px);
    }

    &.dark {
        @include icon(-44px, -1061px, 21px, 21px);
    }
}

.pr-icon-tiny-house {
  @include icon(-42px, -1017px, 27px, 21px);
}

.pr-icon-tiny-check {
    @include icon(-1681px, -1399px, 23px, 21px);
}

.pr-icon-location {
    @include icon(-1769px, -16px, 125px, 127px);
}

.pr-icon-tiny-arrow {
    @include icon(-1708px, -1256px, 21px, 14px);
    @include transition(all 0.2s ease-in);

    &.up {
       @include icon(-1730px, -1256px, 21px, 14px); 
    }
}

.pr-icon-cup {
    @include icon(-1431px, -1322px, 91px, 91px);
}

.pr-icon-list-arrow {
    @include icon(-1717px, -1225px, 21px, 21px);
}

.pr-icon-newspaper{
    @include icon(-1543px, -1322px, 91px, 91px);
}

.pr-icon-slider-check {
    @include icon(-1711px, -1277px, 36px, 36px);
}


// =================================================================================
//  Validation icons
// =================================================================================
.pr-icon-right {
    @include icon(-1564px, -761px, 36px, 36px);
//    @include animation(fadeInFadeOut 0.8s linear);
    @include pr-opacity(0);
}

.pr-icon-wrong {
    @include icon(-1806px, -761px, 36px, 36px);
//    @include animation(fadeInFadeOut 0.8s linear);
    @include pr-opacity(0);
}

.pr-icon-arrow {
    @include icon(-1724px, -593px, 36px, 36px);
}


// =================================================================================
//  Containers icons
// =================================================================================

.pr-icon-social-network {
    @include icon(-705px, -1246px, 41px, 40px);
}

.pr-icon-notebook {
    @include icon(-1566px, -508px, 32px, 36px);
}