.pr-intro-modal {
	width: 958px;
	max-width: 1200px;
	height: 550px;

	.pr-intro-modal-content {
		background: #FFF;
		color: $base-gray-color;
		float: left;
		width: 100%;
		height: 100%;
		@include border-radius-comp(8px, 8px, 0, 0);
		-webkit-border-bottom-right-radius: 0;
		-webkit-border-bottom-left-radius: 0;
		-moz-border-radius-bottomright: 0;
		-moz-border-radius-bottomleft: 0;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;

		.pr-intro-modal-header {
			float: left;
			width: 100%;
			opacity: 1;
			@include border-radius-comp(6px, 6px, 0, 0);

			& > button {
				box-shadow: none;
				border: none;
				outline: none;
				border-radius: 50%;
				background-color: #FFF;
				width: 39px;
				height: 39px;
				color: #000;
				font-size: 37px;
				line-height: 10px;
				background-position: -423px -1360px !important;

				&:hover {
					@include animation(shadow-animation 1.5s forwards);

					&::after {
						background-color: #000;
					}
				}
			}
		}

		@import "_modal_bookblock.css.scss";

		.pr-intro-modal-nav {
			display: block;
			width: 108px;
			position: absolute;
			z-index: 100;
			height: 268px;
			top: 160px;

			&.left {
				left: -150px;
			}

			&.right {
				right: -150px;
			}

			.pr-nav-arrow {
				@include transition(all .2s ease-out);
			}
		}
	}
}