$menu-slider-icon-size: 100px;

.menu-slider {
//  position: fixed;
//  bottom: 0;
//  right: 0;
//  left: 0;
//  margin: auto;
  width: 720px;
  height: 50px;
  float: left;
  margin-bottom: 20px;
//  z-index: 10;

  // Hides the real slider
  .ui-slider {
    height: 0;
    border: none;
  }

  .ui-slider-handle {
    // background: {
    //   color: transparent;
    //   image: url('../images/common/icon_puntero.svg');
    //   repeat: no-repeat;
    // }
    @include icon-base-background("iconos_PR.png");
    @include icon(-493px, -1344px, 46px, 80px);

    cursor: pointer;
    outline: none;
    text-decoration: none;
    margin-top: -45px;
    border: none;
    @include transition(all 0.3s);


    &::after {
      content: attr(data-number);
      text-align: center;
      @extend .c-1;
      display: block;
      margin-top: 19px;
    }
  }

  // Cancel colors on hover in anchors
  .ui-state-default,
  .ui-state-focus {

    a { 
      color: #FFF;
      @include transition(all 0.3s ease-out);
    }

  }



}

// this is the actual bg or .ui-slider
.menu-slider-bg {
  border: none;
  @extend .bg-1;
  width: 100%;
  height: 10px;
  margin-bottom: -10px;
  border-radius: 2px;
  position: relative;
}

.menu-slider-container {
  float: left;
  width: 80%;
  padding-top: 20px;
  min-height: 60px;
}

.menu-slider-arrow {
  float: left;
  height: 60px;
  width: 10%;
  text-align: center;
//  margin-top: -20px;
  cursor: pointer;
  @include no-select;

  // The arrow element
  &::after {
    content: '';
    display: inline-block;
    background-color: #f8f8f8;
    background-image: url(asset-path("common/arrow.svg"));
    background-repeat: no-repeat;
    background-position: 14px center;
    background-size: 18px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }


  &:hover {
    &::after {
      background-color: #999;
      @include animation(show-hide-shadow 1.0s forwards);
    }
  }

  &.inverted {
    &::after {
      @include transform(rotate(180deg));
    }
  }

  &.disabled:hover {
    cursor: default;
    
    &::after {
      @include animation(none);
      background-color: #f8f8f8;
    }
  }
}

// Add some margin in each side
.menu-slider-content {
  // padding: 0 50px 0 20px;
  padding-right: 25px;
  height: 10px;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

