$slider-navbar-width: 200px;

.pr-slider {
  bottom: 0;
  right: 0;
  // height: 90px;
  width: 700px;
  position: fixed;
  left: 0;
  margin: auto;

  .slider-navbar {
    position: absolute;
    color: #FFF;
    width: $slider-navbar-width;
    bottom: -700px;
    left: 0px;
    z-index: 20;
    @include transition(all 0.2s ease-out);

    &.active {
      bottom: 58px;
      @include transform-origin(top);
      @include animation(door-top 1.2s 0.3s);
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 100%;
      display: block;
      width: 100%;
      height: 5px;
    }

    // Links
    ul {
      list-style: none;
      padding-left: 0;
      margin: 0;

      li {

        > a {
          display: block;
          color: $base-gray-color;
          font-weight: bold;
          margin: 0;
          padding: 0 22px;
          font-size: 13px;
          display: table-cell;
          vertical-align: middle;
          line-height: 13px;
          height: 42px;
          width: 100%;
          position: relative;

          small {
            font-weight: 100 !important;
          }

          &:hover {
            text-decoration: none;

            .pr-slider-item-icon {
              background-color: #fff !important;
            }
          }

          &:hover,
          &:active {
            background: #fff;
            color: #494949;
          }

        }

        // &:last-child {
        //    > a {
        //       border-bottom: none;
        //    }
        // }

      }
    }

  }


  // base triangle
  ._slider-triangle {
    content: '';
    display: block;
    width: 0;
    height: 0;
    font-size: 7px;
    border-left: 1em solid rgba(0, 0, 0, 0);
    border-right: 1em solid rgba(0, 0, 0, 0);
    border-top: 1.732em solid #FFF;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -15px;
    margin: auto;
    z-index: 5;
  }

  .slider-navbar-content {

    &::before {
      @extend ._slider-triangle;
      border-top-color: #395EA2;
      bottom: -7px;
    }

    &::after {
      // @extend ._slider-triangle;
    }

    a {

      &.disabled {
        cursor: default;
        @include transition(none);

        // &:hover {
        //   color: #FFF !important;
        // }
      }
    }

  }
}

#pr_slider_carousel {
  background-color: $gray-color;
  height: 268px;
  cursor: auto;

  .carousel-indicators {
    margin: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 16px;

    li {
      width: 9px;
      height: 9px;
      margin-bottom: 3px;
    }
  }

  .carousel-inner {
    height: 252px;
  }

  .pr-slider-item-icon {
    height: 41px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px 3px 0;
    width: 42px;
    background-color: $middle-gray-color;
    @include transition(all 0.2s ease-out);
  }

  .item li {
    width: 100%;
    display: table;
  }
}