prTemplates.directive('evidenceActivity', ['$timeout', function($timeout){
	return {
		// name: '',
		// priority: 1,
		// terminal: true,
		scope: {
			options: '=options'
		}, // {} = isolate, true = child, false/undefined = no change
		// controller: function($scope, $element, $attrs, $transclude) {},
		// require: 'ngModel', // Array = multiple requires, ? = optional, ^ = check parent elements
		restrict: 'E', // E = Element, A = Attribute, C = Class, M = Comment
		// template: '',
		templateUrl: 'evidence_activity.html',
		// replace: true,
		// transclude: true,
		// compile: function(tElement, tAttrs, function transclude(function(scope, cloneLinkingFn){ return function linking(scope, elm, attrs){}})),
		link: function(scope, element, attrs, controller) {
			console.log(Routes);
			scope.options.templateClass = 'evidence-activity';
			scope.options.hasGrade = false;
			scope.options.isEvidence = true;
			scope.options.docLink = Routes.documents_download_path({
				filepath: gon.course_structure.grade + '\/' + scope.$root.className+ '\/' + scope.$root.courseApp + '.docx',
				file_name: scope.$root.courseApp
			});

			scope.options.tableName = 'header_' + scope.$root.className + '_750.png';

			// var dropzone = new Dropzone('#eva_dropzone', { url: "/file/post",
			// 	previewTemplate: '<div class="dz-preview dz-file-preview"><div class="dz-details"><div class="dz-filename"><span data-dz-name></span></div><div class="dz-size" data-dz-size></div><img data-dz-thumbnail /></div><div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div><div class="dz-success-mark"><span>✔</span></div><div class="dz-error-mark"><span>✘</span></div><div class="dz-error-message"><span data-dz-errormessage></span></div></div>'
			// });

			// Dropzone configuration
			$timeout(function () {
				angular.element('.dz-default').remove();
				var $evaDropZone = angular.element('.eva-dropzone').dropzone({ url: 'Routes.documents_upload_path()',
					method: 'post',
					acceptedFiles: 'application/vnd.openxmlformats-officedocument.wordprocessingml.document',
					previewTemplate: angular.element('.dropzone-content').html(),
					clickable: false
				}),
				$containerZone = angular.element('');

				$evaDropZone.on('drop', function (event) {
					$(this).css({
						'background-color': 'transparent',
						'box-shadow': 'none'
					});
				});

				$evaDropZone.on('dragover', function(event) {
					angular.element('.doc-upload').find('.pr-content-container').animate({opacity: 0, display: 'none'}, 400);
				});

				// $evaDropZone.on('addedfile', function(file) {
				// 	$(this).css({
				// 		'background-color': 'transparent',
				// 		'box-shadow': 'none'
				// 	});

				// 	angular.element('.doc-upload').find('.pr-content-container').animate({opacity: 0, display: 'none'}, 100);
				// });
			}, 200);
		}
	};
}]);
