prTemplates.directive('evidenceActivity', ['$timeout', function($timeout){
	return {
		// name: '',
		// priority: 1,
		// terminal: true,
		scope: {
			options: '=options'
		}, // {} = isolate, true = child, false/undefined = no change
		// controller: function($scope, $element, $attrs, $transclude) {},
		// require: 'ngModel', // Array = multiple requires, ? = optional, ^ = check parent elements
		restrict: 'E', // E = Element, A = Attribute, C = Class, M = Comment
		// template: '',
		templateUrl: 'evidence_activity.html',
		// replace: true,
		// transclude: true,
		// compile: function(tElement, tAttrs, function transclude(function(scope, cloneLinkingFn){ return function linking(scope, elm, attrs){}})),
		link: function(scope, element, attrs, controller) {
			console.log(scope);
			scope.options.templateClass = 'evidence-activity';
			scope.options.isEvidence = true;

			scope.options.tableName = 'header_' + scope.$root.className + '_750.png';

			// var dropzone = new Dropzone('#eva_dropzone', { url: "/file/post",
			// 	previewTemplate: '<div class="dz-preview dz-file-preview"><div class="dz-details"><div class="dz-filename"><span data-dz-name></span></div><div class="dz-size" data-dz-size></div><img data-dz-thumbnail /></div><div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div><div class="dz-success-mark"><span>✔</span></div><div class="dz-error-mark"><span>✘</span></div><div class="dz-error-message"><span data-dz-errormessage></span></div></div>'
			// });

			// Dropzone configuration
			$timeout(function () {
				angular.element('.dz-default').remove();
				var $evaDropZone = angular.element('.eva-dropzone').dropzone({ url: '/file/post',
					acceptedFiles: 'application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/msword',
					previewTemplate: '<div class="dz-preview dz-file-preview pr-icon pr-icon-circle-big-notebook"><div class=dz-details><div class=dz-size data-dz-size></div><div class=dz-filename><span data-dz-name></span></div><img data-dz-thumbnail></div><div class=dz-progress><span class=dz-upload data-dz-uploadprogress></span></div><div class="dz-success-mark pr-icon"></div><div class="dz-error-mark pr-icon"></div></div>'
				}),
				$containerZone = angular.element('');

				$evaDropZone.on('drop', function(event) {
					$(this).animate({background: 'none', 'box-shadow': 'none'}, 400);
				});
			}, 200);
		}
	};
}]);
