<div class="p-login-container">
	<div class="p-login-content">
		<%= image_tag "platform/login/CP_login_bgd.png", class: "img-responsive login-background", draggable: false %>
		<div class="col-md-4 pull-right p-login-form-container">
			asdasd
		</div>
	</div>
</div>