<!-- Main structure for containers with content or instruction. Can be both of them -->
<div class="pr-content-container shadow-effect-1 {{options.containerClasses}}" style="{{options.styles}}" ng-class="{'small-title': options.hasSmallTitle}">
	<!-- Content container, available when property hasContent is true -->
	<div class="pull-left pr-left-container" ng-if="options.hasContent" style="{{options.contentStyles}}" class="{{options.contentClasses}}">
		<!-- Header can be an static one, or a button with an click event -->
		<div class="pr-content-header {{options.headerClasses}}" style="{{options.contentHeaderStyles}}" ng-if="options.hasHeader && !options.headerButton">
			<div class="pr-content-icon" style="{{options.stylesContentIcon}}">
				<div class="pr-icon {{options.contentIcon}}"></div>
			</div>
			<div class="pr-content-title" style="{{options.contentTitleStyles}}">{{options.title}}</div>
		</div>
		
		<button class="pr-content-header {{options.headerClasses}}" style="{{options.contentHeaderStyles}}" ng-if="options.hasHeader && options.headerButton" ng-click="options.onHeaderClick(options.headerButton, $event)" data-target="{{options.contentMainClass}}">
			<div class="pr-content-icon" style="{{options.stylesContentIcon}}">
				<div class="pr-icon {{options.contentIcon}}"></div>
			</div>
			<div class="pr-content-title" style="{{options.contentTitleStyles}}">{{options.title}}</div>
		</button>
	
		<div class="pr-content-main {{options.contentClasses}}" ng-class="{'content-highlighted': options.contentHighlighted, 'content-no-header': !options.hasHeader}" style="{{options.contentMainStyles}}" ng-click="options.onbodyContentClick(options.containerOptions, $event)">
			<div class="pr-opensans-light-font pr-content-main-text" ng-bind-html="options.text"></div>
			<div class="pr-content-main-extra {{options.contentMainClass}}" style="{{options.contentMain.styles}}">
				<div class="pr-content-image-container" style="{{options.main.imageContainer.styles}}">
					<div class="{{options.main.imageContainer.containerClasses}}" style="{{options.main.imageContainer.containerStyles}}">
						<img data-gifffer="{{$root.resources + options.main.animation.src}}" alt="{{options.alt}}" class="img-responsive acon-item-image {{options.animationClasses}}" style="{{options.main.animationStyles}}" ng-if="!options.done && options.main.animation && options.event">
						<img ng-src="{{$root.resources + options.main.animation.src}}" alt="{{options.main.alt}}" class="img-responsive pr-content-animation {{options.main.animation.classes}}" style="{{options.main.animation.styles}}" ng-if="options.parentDone && options.main.animation && options.event">
						<img ng-src="{{$root.resources + options.main.image.src}}" alt="{{options.main.alt}}" ng-if="options.main.image" class="img-responsive pr-content-image" style="{{options.main.image.styles}}">
					</div>
				</div>
				<ul class="list-unstyled pr-list-with-items pr-content-list" ng-if="options.main.listItems">
				    <li ng-repeat="listItem in options.main.listItems" style="{{listItem.style}}">
				    	{{listItem.text}}
				    </li>
				</ul>
				<p class="pr-content-bottom-text" ng-if="options.main.bottomText" style="{{options.main.bottomText.styles}}">
					{{options.main.bottomText.text}}
				</p>
			</div>
		</div>
	</div>

	<!-- Instruction container, available when property hasInstruction is true -->
	<div class="pull-left pr-content-instruction {{options.instructionClasses}}" ng-if="options.hasInstruction" style="{{options.instructionStyles}}">
		<div class="pr-content-instruction-row {{options.instructionBg}}">
			<div class="pr-content-instruction-icon">
				<div class="{{options.iconInstruction}}"></div>
			</div>
			<div class="pr-content-instruction-text" ng-bind-html="options.instruction"></div>
		</div>
	</div>
</div>