<div class="row pr-lesson-title-row">
	<div class="col-md-12 pr-lesson-title-bar">
		<div class="pr-icon pr-icon-circle-audio"></div>
		<div class="pr-lesson-title-bar-label">
			<h3>Tema X:</h3> <span>abc</span>
		</div>
		<div class="pr-lesson-title-bar-thin"></div>
	</div>
</div>
<div class="container-fluid pr-lesson-content" ng-transclude></div>
<div class="pr-lesson-footer"></div>