<div class="col-md-3 pr-lesson-intro-icons">
    <div class="pr-icon pr-icon-circle-help"></div>
    <div class="pr-icon pr-icon-circle-audio"></div>
</div>
<div ng-custom-scroll class="col-md-3 pr-lesson-intro-c1">
    <h1 class="pr-canter-font">
        Introducción
    </h1>
    <p ng-bind-html="options.intro"></p>
</div>
<div class="col-md-6 pr-lesson-intro-c2">
    <div class="pr-lesson-intro-cols">
        <div class="pr-lesson-intro-standard">
            <div class="competences-title">
                <div class="competences-icon">
                    <div class="pr-icon pr-icon-newspaper"></div>
                </div>
                <div class="competences-title-text">
                    <b>Estándar</b> <span class="pr-opensans-light-font">de competencias</span>
                </div>
            </div>
            <div class="competences-content shadow-effect-1">
                3
            </div>
        </div>
        <div class="pr-lesson-intro-competences">
            <div class="pr-lesson-intro-unity">
                <div class="competences-title">
                    <div class="competences-icon">
                        <div class="pr-icon pr-icon-newspaper"></div>
                    </div>
                    <div class="competences-title-text">
                        <b>Unidad</b> <span class="pr-opensans-light-font">de competencias</span>
                    </div>
                </div>
                <div class="competences-content shadow-effect-1">
                    3
                </div>
            </div>
            <div class="pr-lesson-intro-element">
                <div class="competences-title">
                    <div class="competences-icon">
                        <div class="pr-icon pr-icon-newspaper"></div>
                    </div>
                    <div class="competences-title-text">
                        <b>Elemento</b> <span class="pr-opensans-light-font">de competencias</span>
                    </div>
                </div>
                <div class="competences-content shadow-effect-1">
                    3
                </div>
            </div>
        </div>
    </div>
</div>