<div class="anslide-image-container" style="{{options.main.imageContainerStyles}}">
	<img ng-src="{{$root.resources + options.main.image}}" alt="{{options.main.alt}}" class="img-responsive anslide-animation {{options.main.imageClasses}}" style="{{options.main.imageStyles}}" ng-if="options.main.image">
</div>
<p class="anslide-animation-text {{options.main.bottomTextClasses}}" ng-if="options.main.bottomText" style="{{options.main.bottomTextStyles}}">
	{{options.main.bottomText}}
</p>