<lesson-template options="options">
	<div class="{{options.instruction.class}} instruction-row" style="{{options.stylesInstructionRow}}">
		<content-containers options="options.instruction">
			<div name="content-inst-icon">
				<div class="pr-icon pr-icon-circle-mouse half"></div>
			</div>
		</content-containers>
	</div>
	<div class="col-md-12 canvas-activity-content activity-container-row" style="{{options.activityContainerStyles}}">
		<div id="{{options.activityName}}"></div>
	</div>
</lesson-template>