<lesson-template options="options">
	<div class="col-md-12 center-block cch-instruction-container">
		<content-containers options="options.instruction"></content-containers>
	</div>
	<div class="col-md-12 cch-containers-row">
		<content-carousel carousel-items="options.containers">
			<div class="item ccar-item {{(key === 0) ? 'active' : ''}}" ng-repeat="(key, items) in options.containers">
				<div class="{{options.containersClass}}" ng-repeat="item in items">
				
						<img ng-src="{{$root.resources + item.image}}" alt="{{item.alt}}" style="{{item.styles}}">	
			
				</div>
		    </div>
		</content-carousel>
	</div>
</lesson-template>
