<lesson-template options="options">
	<div class="{{options.instruction.mainClasses}} cch-instruction-container" style="{{options.instruction.mainStyles}}">
		<content-containers options="options.instruction"></content-containers>
	</div>
	<div class="col-md-12 cch-containers-row" ng-class="{'full-height': options.isFullHeight}">
		<content-carousel options="options.carousel" carousel-items="options.containers">
			<div class="item ccar-item {{(key === 0) ? 'active' : ''}}" ng-repeat="(key, items) in options.containers">
				<div class="{{options.containersClass}}{{item.container.classes}}" ng-repeat="item in items" style="{{options.itemContainersStyles}}{{item.container.styles}}">
					<content-containers options="item">
						<ng-include src="'_container_general_content.html'"></ng-include>
					</content-containers>
				</div>
		    </div>
		</content-carousel>
	</div>
	<pr-modal options="options.modalData">
		<div class="col-md-12 pr-lesson-title-bar">
			<div class="pr-icon pr-icon-circle-audio no-shadow pr-lesson-audio" ng-click="playAudio()"></div>
			<div class="pr-lesson-title-bar-label">
				<p>{{options.title}}</p>
			</div>
			<div class="hidden-xs pr-lesson-title-bar-thin"></div>
		</div>
		<div class="row pr-modal-row">
			<div class="pr-modal-instruction {{options.instuction.container.classes}}" styles="{{options.instruction.container.classes}}">
				<content-containers options="options.instruction"></content-containers>
			</div>
		</div>
		<div class="row pr-modal-row pr-modal-row-containers">
			<div class="pr-modal-col {{cont.container.classes}}" style="{{cont.container.styles}}" ng-repeat="cont in options.content">
				<content-containers options="cont">
					<ng-include src="'_container_general_content.html'"></ng-include>
				</content-containers>
			</div>
		</div>
	</pr-modal>
</lesson-template>