<lesson-template options="options">
	<ng-include src="'_general_instruction_container.html'"></ng-include>
	<div class="{{options.tabs.containerClass}} ctabs-container">
		<div class="ctabs-tabs-container" role="tabpanel">
			<!-- Tab panes -->
			<div class="tab-content ctabs-content">
				<div role="tabpanel" class="tab-pane ctabs-panel {{(k === 0) ? 'active' : ''}}" id="item_{{k}}" ng-repeat="(k, panel) in options.tabs.contentTabs">
					<content-containers options="panel">
						<!-- <ng-include src="'_content_containers_main_with_image.html'"></ng-include> -->
						<div class="content-containers-main">
							<div class="content-containers-image-container" style="{{options.main.imageContainerStyles}}">
								<div>
									<img ng-src="{{$root.resources + options.main.image}}" alt="{{options.main.alt}}" ng-if="options.main.image" class="content-containers-image" style="{{options.main.imageStyles}}">
								</div>
							</div>
							<ul class="list-unstyled pr-list-with-items content-containers-list" ng-if="options.main.listItems">
							    <li ng-repeat="listItem in options.main.listItems">
							    	{{listItem}}
							    </li>
							</ul>
							<p class="content-containers-bottom-text" ng-if="options.main.bottomText">
								{{options.bottomText}}
							</p>
						</div>
					</content-containers>
				</div>
			</div>
			<!-- Nav tabs -->
			<ul class="nav nav-tabs ctabs-nav-tabs" role="tablist">
				<li role="presentation" class="ctabs-nav-tab {{(key === 0) ? 'active' : ''}} {{options.tabs.navTabsClasses}}" ng-repeat="(key, navTab) in options.tabs.navTabs">
					<!-- If there's no tooltip -->
					<a ng-if="!navTab.tooltip" href="#item_{{key}}" aria-controls="{{navTab.name}}" role="tab" data-toggle="tab"  ng-click="options.changeTab($event, '#item_' + key, options.tabs.contentTabs[key])">
						{{navTab.name}}
					</a>
					<!-- If there's tooltip -->
					<a ng-if="navTab.tooltip" href="#item_{{key}}" aria-controls="{{navTab.name}}" pr-tooltip="navTab.tooltip" role="tab" data-toggle="tab" ng-click="options.changeTab($event, '#item_' + key, options.tabs.contentTabs[key])">
						{{navTab.name}}
					</a>
				</li>
			</ul>
		</div>
	</div>
</lesson-template>