<lesson-template options="options">
	<div class="{{options.instruction.mainClasses}} cch-instruction-container">
		<content-containers options="options.instruction"></content-containers>
	</div>
	<div class="col-md-12 cch-containers-row">
		<content-carousel carousel-items="options.containers">
			<div class="item ccar-item {{(key === 0) ? 'active' : ''}}" ng-repeat="(key, items) in options.containers">
				<div class="{{options.containersClass}}" ng-repeat="item in items" style="{{options.itemContainersStyles}}">
					<content-containers options="item">
						<div ng-if="options.showContent" class="cch-containers-main" ng-class="{'visible': options.showContent}">
							<div class="cch-containers-image-container" style="{{options.main.imageContainer.styles}}">
								<div class="{{options.main.imageContainer.containerClasses}}" style="{{options.main.imageContainer.containerStyles}}">
									<div class="cch-block" ng-if="options.hasHeader && !options.bodyEvent && options.main.image.animation"></div>
									<!-- <img data-gifffer="{{$root.resources + options.main.animation.src}}" alt="{{options.main.alt}}" class="img-responsive anslide-animation {{options.main.animation.classes}}" style="{{options.main.animation.styles}}" ng-if="!$parent.$parent.$parent.options.done && options.main.animation">
									<img ng-src="{{$root.resources + options.main.animation.src}}" alt="{{options.main.alt}}" class="img-responsive anslide-animation {{options.main.animation.classes}}" style="{{options.main.animation.styles}}" ng-if="options.main.animation && $parent.$parent.$parent.options.done"> -->
									<img ng-src="{{$root.resources + options.main.image.src}}" alt="{{options.main.alt}}" ng-if="options.main.image" class="img-responsive cch-containers-image" style="{{options.main.image.styles}}">
								</div>
							</div>
							<ul class="list-unstyled pr-list-with-items cch-containers-list" ng-if="options.main.listItems">
							    <li ng-repeat="listItem in options.main.listItems">
							    	{{listItem.text}}
							    </li>
							</ul>
							<p class="cch-containers-bottom-text" ng-if="options.main.bottomText">
								{{options.bottomText.text}}
							</p>
							<pr-video-player options="options.main.video" ng-if="options.main.video"></pr-video-player>
						</div>
					</content-containers>
				</div>
		    </div>
		</content-carousel>
	</div>
</lesson-template>