<lesson-template options="options">
	<img ng-src="{{$root.resources + options.tableName}}" class="hidden-xs hidden-sm animated fadeIn eva-table" />
	<div class="hidden-xs hidden-sm animated fadeIn pr-congrats-character normal eva-character" ng-class="{'right': options.upload, 'left': options.download}"></div>
	<!-- <div class="hidden-xs hidden-sm pr-congrats-character left eva-character"></div> -->
	<div class="row animated bounceIn eva-row">
		<div class="col-md-4 eva-container doc-download" ng-mouseenter="options.download = true" ng-mouseleave="options.download = false" ng-class="{'active': options.download}">
			<h1 class="pr-canter-bold-3d-font eva-big-title">
				Descargar
			</h1>
			<h3 class="pr-pacifico-font eva-small-title">
				actividades
			</h3>
			<a target="_self" href="{{options.docLink}}" class="pr-icon pr-icon-circle-word white eva-icon-download"></a>

			<!-- <button type="button" class="pr-icon pr-icon-circle-word white eva-icon-download" ng-click="options.downloadDoc()"></button> -->

			<content-containers options="options.downloadInstruction">
				<div name="content-inst-icon">
					<div class="pr-icon pr-icon-circle-arrow half"></div>
				</div>
			</content-containers>
		</div>
		<div class="col-md-4  pull-right eva-container doc-upload" ng-mouseenter="options.upload = true" ng-mouseleave="options.upload = false" ng-class="{'active': options.upload}">
			<h1 class="pr-canter-bold-3d-font eva-big-title">
				Compartir
			</h1>
			<h3 class="pr-pacifico-font eva-small-title">
				actividades
			</h3>

			<!-- <form action="/file-upload" class="dropzone eva-dropzone">
				<div class="fallback">
					<input name="file" type="file" multiple />
				</div>
			</form> -->
			<div class="eva-dropzone"></div>

			<content-containers options="options.uploadInstruction">
				<div name="content-inst-icon">
					<div class="pr-icon pr-icon-circle-mouse half"></div>
				</div>
			</content-containers>
		</div>
	</div>
	<div class="dropzone-content" style="display: none;">
		<div class="dz-preview dz-file-preview animated bounceIn pr-icon pr-icon-circle-big-notebook eva-icon-file">
			<div class="dz-details pr-icon .pr-icon-circle-big-notebook">
				<!-- <div class="dz-size" data-dz-size></div>
				<div class="dz-filename"><span data-dz-name></span></div>
				<img data-dz-thumbnail /> -->
			</div>
			<div class="dz-progress eva-file-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
			<div class="dz-success-mark pr-icon pr-icon-big-right"></div>
			<div class="dz-error-mark pr-icon pr-icon-big-wrong"></div>
		</div>
	</div>
</lesson-template>