<lesson-template options="options">
	<div class="row instruction-row">
		<div class="col-md-9 instruction-col" style="{{options.stylesInstructionCol}}">
			<content-containers options="options.instruction">
				<div name="content-inst-icon">
					<div class="pr-icon pr-icon-circle-pencil half"></div>
				</div>
			</content-containers>
		</div>
	</div>
</lesson-template>