<lesson-template options="options">
	<div class="row">
		<div class="col-md-12">
			<content-containers options="options.instruction">
				<div name="content-inst-icon">
					<div class="pr-icon pr-icon-circle-arrow half"></div>
				</div>
			</content-containers>
		</div>
	</div>
	<div>
	    <div class="{{options.itemsImagesClass}}" ng-repeat="item in options.itemsImage" style="{{item.styles}}">
		    <div class="pr-icon-circle-sound" style="{{item.stylesImage}}">
			  <img ng-src="{{$root.resources + item.image}}" alt="{{item.alt}}">	
		    </div>
	    </div>
	    <div class="btn-group {{options.itemsSoundClass}}"  ng-repeat="item in options.itemsSound" style="{{item.styles}}"  role="group" aria-label="...">
  		    <button type="button" class="btn pr-icon pr-icon-container-audio" style="{{item.stylesIcon}}"  ng-audio="$root.resources + item.sound + '.mp3'" loop="false" start="options.audio.start" end="options.audio.end"   on="click" ></button>
  			<span ng-bind-html="item.content" style="{{item.StyleContent}}" ></span>
		</div>
	</div>
</lesson-template>


  