<lesson-template options="options">
	<div class="row">
		<div class="col-md-12">
			<content-containers options="options.instruction">
				<div name="content-inst-icon">
					<div class="pr-icon pr-icon-circle-arrow"></div>
				</div>
			</content-containers>
		</div>
	</div>
	<div class="row pr-images-info-row">
		<div class="{{options.itemsImagesClass}}" ng-repeat="item in options.itemsImage" style="{{item.styles}}">
			<div class="pr-image-info-item" style="{{item.stylesImage}}" ng-click="show($event, item)">
				<img ng-src="{{$root.resources + item.image}}" alt="{{item.alt}}">
				<div class="pr-image-info-popover" ng-class="{'pr-opacity': item.done}">
					<div ng-bind-html="item.content"></div>
				</div>
			</div>
		</div>
	</div>
</lesson-template>