<lesson-template options="options">
    <div class="{{options.instructionRow.class}}" style="{{options.instructionRow.styles}}">
        <content-containers options="options.instruction">
            <div name="content-inst-icon">
                <div class="pr-icon pr-icon-circle-pencil half"></div>
            </div>
        </content-containers>
    </div>
    <div class="{{options.canvasRow.class}} canvas-row" style="{{options.canvasRow.styles}}">
        <div id="{{options.activityName}}"></div>
    </div>
    <div class="{{options.activity.class}} form-row" style="{{options.activity.styles}}">
        <form name="textForm" id="text_form" class="{{options.activity.formClass}}" ng-class="{'nested': options.activity.nested}">
            <div class="row pr-input-canvas-row" ng-repeat="item in options.activity.items" style="{{options.activity.rowStyles}}" ng-if="!options.activity.nested">
                <div class="col-md-2 input-canvas-icons">
                    <div class="pr-icon {{item.classIcon}}"></div>
                </div>
                <div class="col-md-7 input-canvas-text">
                    <span ng-bind-html="item.text"></span>
                </div>
                <div class="col-md-3 input-canvas-input">
                    <input type="text" ng-model="item.value" ng-enter="validate(event, item)" ng-blur="validate($event, item)" class="animated" ng-disabled="item.disabled", ng-class="{'on-validation': item.validated}" />
                </div>
            </div>
            <ng-include src="'_nested_text_input.html'" ng-if="options.activity.nested"></ng-include>
        </form>
    </div>
</lesson-template>