<lesson-template options="options">
    <div class="{{options.instructionRow.class}}" style="{{options.instructionRow.styles}}">
        <content-containers options="options.instruction">
            <div name="content-inst-icon">
                <div class="pr-icon pr-icon-circle-pencil half"></div>
            </div>
        </content-containers>
    </div>
    <form name="selectItemForm" id="select_item_form" class="{{options.activity.class}} form-row" style="{{options.activity.styles}}">
        <div ng-repeat="item in options.activity.items" class="{{item.class}} form-container" style="{{item.styles}}">
            <div ng-if="item.text" class="{{item.text.class}} form-text" style="{{item.text.styles}}">{{item.text.text}}</div>
            <div ng-repeat="(key, obj) in item.objects" class="{{obj.class}} form-item-container" style="{{obj.styles}}">
                <div class="col-md-2 form-input">
                    <input type="radio" id="{{key + '_item'}}"/>
                </div>
                <div class="col-md-10 form-label">
                    <label for="{{key + '_item'}}">{{obj.text}}</label>
                </div>
            </div>
        </div>
    </form>
</lesson-template>