<lesson-template options="options">
	<div class="row pr-table-form-row">
		<div class="col-md-6" style="{{options.stylesCont}}">
			<div class="col-md-12 pr-table-form-content">
				<content-containers options="options.content"></content-containers>
			</div>
			<div class="col-md-12 pr-table-form-instruction">
				<content-containers options="options.instruction">
					<div name="content-inst-icon">
						<div class="pr-icon pr-icon-circle-pencil half"></div>
					</div>
				</content-containers>
			</div>
		</div>
		<div class="col-md-6" style="{{options.stylesTableCont}}">
			<form name="tableForm" id="table_form">
				
				<ng-include src="'_table.html'"></ng-include>

			</form>
		</div>
	</div>
</lesson-template>