<lesson-template options="options">
	<div class="row pr-text-input-instruction-row">
		<div class="col-md-6" style="{{options.stylesInstructionContainer}}">
			<content-containers options="options.instruction">
				<div name="content-inst-icon">
					<div class="pr-icon pr-icon-circle-pencil half"></div>
				</div>
			</content-containers>
		</div>
	</div>
</lesson-template>