<lesson-template options="options">
	<div class="row pr-text-input-instruction-row" style="{{options.stylesInstructionRow}}">
		<div class="col-md-6 col-sm-8" style="{{options.stylesInstructionContainer}}">
			<content-containers options="options.instruction">
				<div name="content-inst-icon">
					<div class="pr-icon pr-icon-circle-pencil half"></div>
				</div>
			</content-containers>
		</div>
	</div>
	<div class="row pr-text-input-action-row" style="{{options.stylesActionRow}}">
		<div class="col-md-4 action-col" style="{{options.stylesActionCol}}">
            <ng-include src="'_nested_text_input.html'"></ng-include>
		</div>
	</div>
</lesson-template>