.eng.cuarto {
	.layer {
		width: 100%;
		height: 100%;

		img {
			top: auto !important;
			position: absolute;
		}

		&.hand1-img > img {
			bottom: -16px;
			left: 320px !important;
			width: 300px;
		}

		&.hand2-img > img {
			left: 596px!important;
			width: 268px;
			bottom: -20px;
		}
	}
}