.esp {
	.layer {
		width: 100%;
		height: 100%;

		img {
			top: auto !important;
			position: absolute;
		}
		&.quijote-img > img {
			bottom: 170px;
			left: 680px !important;
			width: 550px;
		}
		&.cervantes-img > img {
			bottom: -20px;
			left: 340px !important;
			width: 350px;
		}
		&.table-img > img {
			bottom: -80px;
			left: 542px !important;
			width: 450px;
		}	
		&.inkwell-img > img {
			bottom: 115px;
			left: 750px !important;
			width: 75px;
		}
		&.candle-img > img {
			bottom: 121px;
			left: 880px !important;
			width: 60px;
		}

	}
}