.soc {
	.layer {
		width: 100%;
		height: 100%;

		img {
			top: auto !important;
			position: absolute;
		}

		&.fruitseller-img > img {
			bottom: -20px;
			left: 120px !important;
			width: 1300px;
		}

		&.fruitbasket-img > img {
			left: 450px !important;
			width: 600px;
			bottom: 450px;
		}
	}
}